*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}

html{
    font-family: 'DraftsmanCasualF', sans-serif;
    line-height: 36px;
    font-size: 20px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-size: 15px;
    text-align: left;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 2rem 0;
}

body{
    background-color: #F5F5F5;
}

/* header */
header{
    background-color: white;
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.container{
    /* width: 100%; */
    /* max-width: 98rem; */
    /* margin: 0 0; */
    /* padding: 0 1.5rem; */
}

/* navigation */
nav{
    widows: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-brand{
    width: 2rem;   
}
.menu-icons i {
    font-size: 3.5;
    color: #fafafa;
    cursor: pointer;
}
.close{
    color: #eb648c;
}

.nav-list{
    /* width: 25rem; */
    /* height: 50vh; */
    background-color: white;
    position: fixed;
    top: 0;
    /* right: -26rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* z-index: 15000; */
    /* transition: all 650ms ease-in-out; */
    
    /* margin-right: 200px; */
    /* margin-left: 200px; */
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item{
    margin: 1rem 0 ;
    list-style: none;
    position: relative;
    width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.nav-link{
    font-size: 1rem;
    text-transform: capitalize;
    color: rgba(0, 0,0, 7);
}
 /* TODO  - icons */ 


/* hero */
.hero{
    width: 100%;
    height: 80vh;
    background: url("http://storage.zielona-kraina.com/source/1/bu1vmpluNFDwnOeSVasuKleyblCki6Yw.jpg") center no-repeat;

    background-size: cover;
    position: relative;
}

/* News */

.project-background{
    background-color: #F5F5F5;
}

.h3{
    padding: 0;
    text-transform: uppercase;
}

.title-heading{
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
}

.title-heading h3{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 20px;
    color: #018136;
}

.title-heading h1{
    font-size: 2rem;
    margin: .5rem;
    color: green;
}



.container p{
    margin-right: 10rem;
    margin-left: 10rem;
}

.bold-elem {
    font-size: 16px;
    color: #018136;
    font-weight: bold;
}

.bold-elem-click{
    text-transform: uppercase;
    font-size: 16px;
    color: #018136;
    font-weight: bold;
}


/* arrow */

.container-arrow-left{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.arrow {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border-style: solid;
    border-color: #018136;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 6rem;
  }

  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }

/**********************/

/* activity grid */
/* .activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 2.5rem;
} */

/* .activities-grid-item{
    height: 40rem;
    padding: 5rem;
    /* color: #fafafa; */
    /* position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
} */ 

/* .activities-grid-item-before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%);
    z-index: -1;
} */

.description{
    background-color: white;
}

.images{
    border: 1px solid #82BB00;
    border-style: solid;
    border-width: 2px;
    
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.images img {
    /* width: 100%; */
    object-fit: cover;
    /* max-width: 100%; */
    position:absolute;
    /* background-size: cover; */
    /* background-position: center; */
}

/* media queries */
@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(40%)
    }
}

@media screen and (min-width: 470px){

}

@media screen and (min-width: 700px){
    header{
        height: 8rem;
    }
    .nav-brand{
        width: 3.5rem;
    }
    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        flex-direction: initial;
    }
    .menu-icons{
        display: none;
    }
    .nav-item{
        margin:0 2.5rem;
    }
    .nav-link{
        color: black;
        position: relative;
        font-size: 1rem;
    }
    .hero{
        height: 60vh;
    }
}


.news{
    background-color: #ECECEC;
    /* padding-top:80px;
    padding-bottom:80px;
    padding-right:200px;
    padding-left:200px; */
    

    padding-bottom:0%; 
    overflow:hidden; 
    position:relative
}

.wrapper-news{
    margin-right: 10rem;
    margin-left: 10rem;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(2rem,1fr));
    grid-gap: 1em;
    /* grid-auto-rows: minmax(100px,auto); */
}

.wrapper-news h1 {
    font-size: 1rem;
    color: green;
    font-weight: bold;
}

.wrapper-news p{
    font-size: 0.5rem;
    color: black;
    line-height: normal;
}

/* img gallery */
/* 
.gallery-container{
    /* position: absolute; */

/* } */

.gallery {
    /* position: relative;
    overflow: hidden;
    /* width: 50px;
    height: 50px; */

    /* float: right; */
    /* width: 100%; */ 
}

/* .gallery column{
    float: left;
    width: 25%;
    padding: 10px;
}

.gallery img {
    position: absolute; */
    /* left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%); */
/* } */

/* new gallery */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  width: 150px;
  height: 150px;
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Przepisy */
.recepies-layer {
  
}

.recepies{
    background-image: linear-gradient(to bottom, #81BC00, rgba(1, 129, 54, 0.3) 70.71%),
    url("/images/fruitveg.jpeg");
}

/* dishes */
.dishes-container{
    /* width: 100%; */
    /* overflow: hidden; */
    /* align-items: center;
     */
     display: flex;
     align-items: center;
     justify-content: center;

}

.dish{
    /* width: 10%; */
    margin: 2rem;
    display: inline-block;
}

.dish p{
    color: white;
    text-transform: uppercase;
}