*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}

html{
    font-family: 'DraftsmanCasualF', sans-serif;
    line-height: 36px;
    font-size: 20px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 5rem 0;
}

body{
    background-color: cornflowerblue;
}

/* header */
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* navigation */
nav{
    widows: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.nav-brand{
    width: 2rem;   
}
.menu-icons i {
    font-size: 3.5;
    color: #fafafa;
    cursor: pointer;
}
.close{
    color: #eb648c;
}

.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: grey;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15000;
    transition: all 650ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item{
    margin: 1.5rem 0 ;
}
.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0,0, 7);
}
 /* TODO  - icons */ 


/* hero */
.hero{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%), 
        url("http://storage.zielona-kraina.com/source/1/bu1vmpluNFDwnOeSVasuKleyblCki6Yw.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

/* News */
.news h3{
    padding: 0;
    text-transform: uppercase;
}

.title-heading{
    text-align: center;
    margin-bottom: 10rem;
}

.title-heading h3{
    font-size: 1.4rem;
}

.title-heading h1{
    font-size: 2rem;
    margin: .5rem;
    color: green;
}


/* activity grid */
.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 2.5rem;
}

.activities-grid-item{
    height: 40rem;
    padding: 5rem;
    /* color: #fafafa; */
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.activities-grid-item-before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%);
    z-index: -1;
}

.description{
    background-color: white;
}

.images{
    border: 1px solid #82BB00;
    border-style: solid;
    border-width: 2px;
    /* height: auto; */
}

.images img {
    width:auto;
    /* width: 100%; */
    height:auto;
    /* height: auto; */
    object-fit:cover;
    padding: 1rem;
}

/* media queries */
@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(40%)
    }
}

@media screen and (min-width: 470px){

}

@media screen and (min-width: 700px){
    header{
        height: 8rem;
    }
    .nav-brand{
        width: 3.5rem;
    }
    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        flex-direction: initial;
    }
    .menu-icons{
        display: none;
    }
    .nav-item{
        margin:0 2.5rem;
    }
    .nav-link{
        color:#fafafa;
        position: relative;
        font-size: 1.3rem;
    }
    .hero{
        height: 60vh;
    }
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(2rem,1fr));
    grid-gap: 1em;
    grid-auto-rows: minmax(100px,auto);
    margin-bottom: 20px;
}