.for-parents{
    background-color: #ECECEC;
}

.parent-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent-container p{
    margin: 2rem;
    display: inline-block;
    text-transform: capitalize;
    text-align: center;    
}
