.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.gallery-img {
  margin: 12px auto;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.gallery-img img {
  height: 250px;
}

.image-link {
  position: absolute;
  top: 100%;
  width: 250px;
  height: 250px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 129, 54, 0.5);
  color: white;
  text-align: center;
}

.gallery-img:hover .image-link {
  top: 0;
}

@media screen and (min-width: 960px) {
  .gallery {
    justify-content: center;
  }

  .gallery-img {
    width: 250px;
    height: 250px;
    margin: 12px;
  }

  .gallery-img img {
    height: 250px;
  }

  .image-link {
    width: 250px;
    height: 250px;
  }
}
