.workshops-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.workshops-item-title {
    color: #018136;
    font-weight: bold;
    width: 100%;
}

.workshops-item-descr {
    width: 100%;
}

@media screen and (min-width: 960px) {
    .workshops-items {
        flex-direction: row;
    }
    .workshops-item-title {
        width: 30%;
        text-align: right;
        padding-right: 24px;
    }
    .workshops-item-descr {
        width: 70%;
    }
}